<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>主页面</title>
    <link rel="stylesheet" href="./css/layui.css">
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/page/index.js"></script>
    <script src="./layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><i class="layui-icon layui-icon-ios" style="font-size: 30px; color: #e8e8e8;"></i></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">主界面</a></li>
            <li class="layui-nav-item"><a href="javascript:pageVm.load('./page/manage/good/gooddescripemanage.html')">商品相关描述界面</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-set-fill" style="font-size: 30px; color: #e8e8e8;"></i>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:pageVm.load('./page/manage/user/delusermanage.html')">删除用户</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;" style="text-align: center">主菜单</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" style="text-align: center">数据图表</a></dd>
                        <dd><a href="javascript:;" style="text-align: center">数据饼图</a></dd>
                        <dd><a href="javascript:;" style="text-align: center">数据分析</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a style="text-align: center" href="javascript:pageVm.load('./page/manage/user/addusermanage.html')"><i class="layui-icon layui-icon-username" style="font-size: 30px; color: #e8e8e8;"></i></a></li>
                <li class="layui-nav-item"><a style="text-align: center" href="javascript:pageVm.load('./page/manage/dictionary/adddictionarymanage.html')"><i class="layui-icon layui-icon-table" style="font-size: 30px; color: #e8e8e8;"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;" id="main_content">内容主体区域</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © maite-xgq
    </div>
</div>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
</script>
</body>
</html>